 # Starbucks Customer Data Analysis
    (Data Source: https://www.kaggle.com/datasets/ihormuliar/starbucks-customer-data?select=portfolio.csv)

In [566]:
import pandas as pd
import numpy as np
import datetime as dt

In [567]:
profile= pd.read_csv('profile.csv') # Demographic data, e.g.age, salary, and gender. 
transcipt= pd.read_csv('transcript.csv') # Transactional data and Offer Stages
portfolio= pd.read_csv('portfolio.csv') # Promotional offers
print(profile.shape,transcipt.shape,portfolio.shape)

((17000, 6), (306534, 5), (10, 7))

## Customer Profile

In [568]:
#Demographic
profile=profile.iloc[:,1:]
profile.head(10)

  gender  age                                id  became_member_on    income
0    NaN  118  68be06ca386d4c31939f3a4f0e3dd783          20170212       NaN
1      F   55  0610b486422d4921ae7d2bf64640c50b          20170715  112000.0
2    NaN  118  38fe809add3b4fcf9315a9694bb96ff5          20180712       NaN
3      F   75  78afa995795e4d85b5d9ceeca43f5fef          20170509  100000.0
4    NaN  118  a03223e636434f42ac4c3df47e8bac43          20170804       NaN
5      M   68  e2127556f4f64592b11af22de27a7932          20180426   70000.0
6    NaN  118  8ec6ce2a7e7949b1bf142def7d0e0586          20170925       NaN
7    NaN  118  68617ca6246f4fbc85e91a2a49552598          20171002       NaN
8      M   65  389bc3fa690240e798340f5a15918d5c          20180209   53000.0
9    NaN  118  8974fc5686fe429db53ddde067b88302          20161122       NaN

In [569]:
#profile.info()
profile['gender']=profile['gender'].fillna("Unknown")
profile['gender']=profile['gender'].apply(lambda x: 'Female' if x=='F' else("Male" if x=='M' else "Undefined"))
profile['income']=profile['income'].fillna(profile['income'].mean())
profile['became_member_on']=profile['became_member_on'].apply(lambda x: dt.datetime.strptime(str(x),'%Y%m%d').date())
#profile.info()

In [570]:
profile.head(10)

,gender,age,id,became_member_on,income
0,Undefined,118,68be06ca386d4c31939f3a4f0e3dd783,2017-02-12,65404.991568
1,Female,55,0610b486422d4921ae7d2bf64640c50b,2017-07-15,112000.000000
2,Undefined,118,38fe809add3b4fcf9315a9694bb96ff5,2018-07-12,65404.991568
3,Female,75,78afa995795e4d85b5d9ceeca43f5fef,2017-05-09,100000.000000
4,Undefined,118,a03223e636434f42ac4c3df47e8bac43,2017-08-04,65404.991568
5,Male,68,e2127556f4f64592b11af22de27a7932,2018-04-26,70000.000000
6,Undefined,118,8ec6ce2a7e7949b1bf142def7d0e0586,2017-09-25,65404.991568
7,Undefined,118,68617ca6246f4fbc85e91a2a49552598,2017-10-02,65404.991568
8,Male,65,389bc3fa690240e798340f5a15918d5c,2018-02-09,53000.000000
9,Undefined,118,8974fc5686fe429db53ddde067b88302,2016-11-22,65404.991568

## Transaction

In [571]:
transcipt.head(3)
transcipt.columns=['xxx', 'person', 'event', 'value', 'time']

In [572]:
transcipt['event'].unique()

array(['offer received', 'offer viewed', 'transaction', 'offer completed'],
      dtype=object)

In [573]:
transcipt[transcipt['event']=='transaction'].head(5) ## Output: {'amount': 34.56}
transcipt[transcipt['event']=='offer viewed'].head(5) ## Output: {'offer id': 'f19421c1d4aa40978ebb69ca19b0e20d'}
transcipt[transcipt['event']=='offer received'].head(5) ## {'offer id': '9b98b8c7a33c4b65b9aebfe6a799e6d9'}
transcipt[transcipt['event']=='offer completed'].head(5) ## {'offer_id': '2906b810c7d4411798c6938adc9daaa5...}

,xxx,person,event,value,time
12658,12658,9fa9ae8f57894cc9a3b8a9bbe0fc1b2f,offer completed,{'offer_id': '2906b810c7d4411798c6938adc9daaa5...,0
12672,12672,fe97aa22dd3e48c8b143116a8403dd52,offer completed,{'offer_id': 'fafdcd668e3743c1bb461111dcafc2a4...,0
12679,12679,629fc02d56414d91bca360decdfa9288,offer completed,{'offer_id': '9b98b8c7a33c4b65b9aebfe6a799e6d9...,0
12692,12692,676506bad68e4161b9bbaffeb039626b,offer completed,{'offer_id': 'ae264e3637204a6fb9bb56bc8210ddfd...,0
12697,12697,8f7dd3b2afe14c078eb4f6e6fe4ba97d,offer completed,{'offer_id': '4d5c57ea9a6940dd891ad53e9dbe8da0...,0

In [574]:
def split_value(x):
    ss=len(x.split(','))
    if ss==1:
        return x.split(':')[0],x.split(':')[1],'',''
    elif ss==2:
        aa=[]
        for xx in range(0,2): 
            for yy in range(0,2):
                aa.append(x.split(',')[xx].split(':')[yy])
        return aa[0],aa[1],aa[2],aa[3]

In [575]:
transcipt['c1']=transcipt['value'].apply(lambda x:split_value(x)[0])
transcipt['c2']=transcipt['value'].apply(lambda x:split_value(x)[1])
transcipt['c3']=transcipt['value'].apply(lambda x:split_value(x)[2])
transcipt['c4']=transcipt['value'].apply(lambda x:split_value(x)[3])

transcipt['c1']=transcipt['c1'].apply(lambda x: x[2:-1])
transcipt['c2']=transcipt['c2'].apply(lambda x: x[2:-2] if x[1]=="'" else x[:-1])
transcipt['c3']=transcipt['c3'].apply(lambda x: x[2:-1] if len(x)>0 else "")
transcipt['c4']=transcipt['c4'].apply(lambda x: x[:-1] if len(x)>0 else "")

In [576]:
transcipt.head(5)

,xxx,person,event,value,time,c1,c2,c3,c4
0,0,78afa995795e4d85b5d9ceeca43f5fef,offer received,{'offer id': '9b98b8c7a33c4b65b9aebfe6a799e6d9'},0,offer id,9b98b8c7a33c4b65b9aebfe6a799e6d9,,
1,1,a03223e636434f42ac4c3df47e8bac43,offer received,{'offer id': '0b1e1539f2cc45b7b9fa7c272da2e1d7'},0,offer id,0b1e1539f2cc45b7b9fa7c272da2e1d7,,
2,2,e2127556f4f64592b11af22de27a7932,offer received,{'offer id': '2906b810c7d4411798c6938adc9daaa5'},0,offer id,2906b810c7d4411798c6938adc9daaa5,,
3,3,8ec6ce2a7e7949b1bf142def7d0e0586,offer received,{'offer id': 'fafdcd668e3743c1bb461111dcafc2a4'},0,offer id,fafdcd668e3743c1bb461111dcafc2a4,,
4,4,68617ca6246f4fbc85e91a2a49552598,offer received,{'offer id': '4d5c57ea9a6940dd891ad53e9dbe8da0'},0,offer id,4d5c57ea9a6940dd891ad53e9dbe8da0,,

In [577]:
transcipt['offer_id']=transcipt.apply(lambda x: x['c2'] if x['c1']=='offer id' else '',axis=1)
transcipt['offer_id']=transcipt.apply(lambda x: x['c2'] if x['c1']=='offer_id' else x['offer_id'],axis=1)
transcipt['amount']=transcipt.apply(lambda x: x['c2'] if x['c1']=='amount' else '',axis=1)
transcipt['reward']=transcipt.apply(lambda x: x['c4'] if x['c3']=='reward' else '',axis=1)

In [578]:
transcipt.columns=['xxx', 'person', 'event', 'value', 'time', 'c1', 'c2', 'c3','c4', 'offer_id', 'amount', 'reward']

In [579]:
transcipt=transcipt.drop(columns=['c1','c2','c3','c4'])
transcipt=transcipt.merge(portfolio,how='left',left_on='offer_id',right_on='id')

In [580]:
transcipt["channels"]=transcipt["channels"].fillna("None")
transcipt["web"] = transcipt["channels"].map(lambda x: 1 if "web" in x else 0)
transcipt["email"] = transcipt["channels"].map(lambda x: 1 if "email" in x else 0)
transcipt["mobile"] = transcipt["channels"].map(lambda x: 1 if "mobile" in x else 0)
transcipt["social"] = transcipt["channels"].map(lambda x: 1 if "social" in x else 0)

In [581]:
transcipt

,xxx,person,event,value,time,offer_id,amount,reward_x,Unnamed: 0,reward_y,channels,difficulty,duration,offer_type,id,web,email,mobile,social
0,0,78afa995795e4d85b5d9ceeca43f5fef,offer received,{'offer id': '9b98b8c7a33c4b65b9aebfe6a799e6d9'},0,9b98b8c7a33c4b65b9aebfe6a799e6d9,,,3.0,5.0,"['web', 'email', 'mobile']",5.0,7.0,bogo,9b98b8c7a33c4b65b9aebfe6a799e6d9,1,1,1,0
1,1,a03223e636434f42ac4c3df47e8bac43,offer received,{'offer id': '0b1e1539f2cc45b7b9fa7c272da2e1d7'},0,0b1e1539f2cc45b7b9fa7c272da2e1d7,,,4.0,5.0,"['web', 'email']",20.0,10.0,discount,0b1e1539f2cc45b7b9fa7c272da2e1d7,1,1,0,0
2,2,e2127556f4f64592b11af22de27a7932,offer received,{'offer id': '2906b810c7d4411798c6938adc9daaa5'},0,2906b810c7d4411798c6938adc9daaa5,,,9.0,2.0,"['web', 'email', 'mobile']",10.0,7.0,discount,2906b810c7d4411798c6938adc9daaa5,1,1,1,0
3,3,8ec6ce2a7e7949b1bf142def7d0e0586,offer received,{'offer id': 'fafdcd668e3743c1bb461111dcafc2a4'},0,fafdcd668e3743c1bb461111dcafc2a4,,,6.0,2.0,"['web', 'email', 'mobile', 'social']",10.0,10.0,discount,fafdcd668e3743c1bb461111dcafc2a4,1,1,1,1
4,4,68617ca6246f4fbc85e91a2a49552598,offer received,{'offer id': '4d5c57ea9a6940dd891ad53e9dbe8da0'},0,4d5c57ea9a6940dd891ad53e9dbe8da0,,,1.0,10.0,"['web', 'email', 'mobile', 'social']",10.0,5.0,bogo,4d5c57ea9a6940dd891ad53e9dbe8da0,1,1,1,1
5,5,389bc3fa690240e798340f5a15918d5c,offer received,{'offer id': 'f19421c1d4aa40978ebb69ca19b0e20d'},0,f19421c1d4aa40978ebb69ca19b0e20d,,,8.0,5.0,"['web', 'email', 'mobile', 'social']",5.0,5.0,bogo,f19421c1d4aa40978ebb69ca19b0e20d,1,1,1,1
6,6,c4863c7985cf408faee930f111475da3,offer received,{'offer id': '2298d6c36e964ae4a3e7e9706d1fb8c2'},0,2298d6c36e964ae4a3e7e9706d1fb8c2,,,5.0,3.0,"['web', 'email', 'mobile', 'social']",7.0,7.0,discount,2298d6c36e964ae4a3e7e9706d1fb8c2,1,1,1,1
7,7,2eeac8d8feae4a8cad5a6af0499a211d,offer received,{'offer id': '3f207df678b143eea3cee63160fa8bed'},0,3f207df678b143eea3cee63160fa8bed,,,2.0,0.0,"['web', 'email', 'mobile']",0.0,4.0,informational,3f207df678b143eea3cee63160fa8bed,1,1,1,0
8,8,aa4862eba776480b8bb9c68455b8c2e1,offer received,{'offer id': '0b1e1539f2cc45b7b9fa7c272da2e1d7'},0,0b1e1539f2cc45b7b9fa7c272da2e1d7,,,4.0,5.0,"['web', 'email']",20.0,10.0,discount,0b1e1539f2cc45b7b9fa7c272da2e1d7,1,1,0,0
9,9,31dda685af34476cad5bc968bdb01c53,offer received,{'offer id': '0b1e1539f2cc45b7b9fa7c272da2e1d7'},0,0b1e1539f2cc45b7b9fa7c272da2e1d7,,,4.0,5.0,"['web', 'email']",20.0,10.0,discount,0b1e1539f2cc45b7b9fa7c272da2e1d7,1,1,0,0
10,10,744d603ef08c4f33af5a61c8c7628d1c,offer received,{'offer id': '0b1e1539f2cc45b7b9fa7c272da2e1d7'},0,0b1e1539f2cc45b7b9fa7c272da2e1d7,,,4.0,5.0,"['web', 'email']",20.0,10.0,discount,0b1e1539f2cc45b7b9fa7c272da2e1d7,1,1,0,0
11,11,3d02345581554e81b7b289ab5e288078,offer received,{'offer id': '0b1e1539f2cc45b7b9fa7c272da2e1d7'},0,0b1e1539f2cc45b7b9fa7c272da2e1d7,,,4.0,5.0,"['web', 'email']",20.0,10.0,discount,0b1e1539f2cc45b7b9fa7c272da2e1d7,1,1,0,0
12,12,4b0da7e80e5945209a1fdddfe813dbe0,offer received,{'offer id': 'ae264e3637204a6fb9bb56bc8210ddfd'},0,ae264e3637204a6fb9bb56bc8210ddfd,,,0.0,10.0,"['email', 'mobile', 'social']",10.0,7.0,bogo,ae264e3637204a6fb9bb56bc8210ddfd,0,1,1,1
13,13,c27e0d6ab72c455a8bb66d980963de60,offer received,{'offer id': '3f207df678b143eea3cee63160fa8bed'},0,3f207df678b143eea3cee63160fa8bed,,,2.0,0.0,"['web', 'email', 'mobile']",0.0,4.0,informational,3f207df678b143eea3cee63160fa8bed,1,1,1,0
14,14,d53717f5400c4e84affdaeda9dd926b3,offer received,{'offer id': '0b1e1539f2cc45b7b9fa7c272da2e1d7'},0,0b1e1539f2cc45b7b9fa7c272da2e1d7,,,4.0,5.0,"['web', 'email']",20.0,10.0,discount,0b1e1539f2cc45b7b9fa7c272da2e1d7,1,1,0,0
15,15,f806632c011441378d4646567f357a21,offer received,{'offer id': 'fafdcd668e3743c1bb461111dcafc2a4'},0,fafdcd668e3743c1bb461111dcafc2a4,,,6.0,2.0,"['web', 'email', 'mobile', 'social']",10.0,10.0,discount,fafdcd668e3743c1bb461111dcafc2a4,1,1,1,1
16,16,d058f73bf8674a26a95227db098147b1,offer received,{'offer id': '0b1e1539f2cc45b7b9fa7c272da2e1d7'},0,0b1e1539f2cc45b7b9fa7c272da2e1d7,,,4.0,5.0,"['web', 'email']",20.0,10.0,discount,0b1e1539f2cc45b7b9fa7c272da2e1d7,1,1,0,0
17,17,65aba5c617294649aeb624da249e1ee5,offer received,{'offer id': '2906b810c7d4411798c6938adc9daaa5'},0,2906b810c7d4411798c6938adc9daaa5,,,9.0,2.0,"['web', 'email', 'mobile']",10.0,7.0,discount,2906b810c7d4411798c6938adc9daaa5,1,1,1,0
18,18,ebe7ef46ea6f4963a7dd49f501b26779,offer received,{'offer id': '9b98b8c7a33c4b65b9aebfe6a799e6d9'},0,9b98b8c7a33c4b65b9aebfe6a799e6d9,,,3.0,5.0,"['web', 'email', 'mobile']",5.0,7.0,bogo,9b98b8c7a33c4b65b9aebfe6a799e6d9,1,1,1,0
19,19,1e9420836d554513ab90eba98552d0a9,offer received,{'offer id': 'ae264e3637204a6fb9bb56bc8210ddfd'},0,ae264e3637204a6fb9bb56bc8210ddfd,,,0.0,10.0,"['email', 'mobile', 'social']",10.0,7.0,bogo,ae264e3637204a6fb9bb56bc8210ddfd,0,1,1,1
20,20,868317b9be554cb18e50bc68484749a2,offer received,{'offer id': '2906b810c7d4411798c6938adc9daaa5'},0,2906b810c7d4411798c6938adc9daaa5,,,9.0,2.0,"['web', 'email', 'mobile']",10.0,7.0,discount,2906b810c7d4411798c6938adc9daaa5,1,1,1,0
21,21,f082d80f0aac47a99173ba8ef8fc1909,offer received,{'offer id': '9b98b8c7a33c4b65b9aebfe6a799e6d9'},0,9b98b8c7a33c4b65b9aebfe6a799e6d9,,,3.0,5.0,"['web', 'email', 'mobile']",5.0,7.0,bogo,9b98b8c7a33c4b65b9aebfe6a799e6d9,1,1,1,0
22,22,102e9454054946fda62242d2e176fdce,offer received,{'offer id': '4d5c57ea9a6940dd891ad53e9dbe8da0'},0,4d5c57ea9a6940dd891ad53e9dbe8da0,,,1.0,10.0,"['web', 'email', 'mobile', 'social']",10.0,5.0,bogo,4d5c57ea9a6940dd891ad53e9dbe8da0,1,1,1,1
23,23,4beeb3ed64dd4898b0edf2f6b67426d3,offer received,{'offer id': '2906b810c7d4411798c6938adc9daaa5'},0,2906b810c7d4411798c6938adc9daaa5,,,9.0,2.0,"['web', 'email', 'mobile']",10.0,7.0,discount,2906b810c7d4411798c6938adc9daaa5,1,1,1,0
24,24,9f30b375d7bd4c62a884ffe7034e09ee,offer received,{'offer id': '2298d6c36e964ae4a3e7e9706d1fb8c2'},0,2298d6c36e964ae4a3e7e9706d1fb8c2,,,5.0,3.0,"['web', 'email', 'mobile', 'social']",7.0,7.0,discount,2298d6c36e964ae4a3e7e9706d1fb8c2,1,1,1,1
25,25,25c906289d154b66bf579693f89481c9,offer received,{'offer id': '2906b810c7d4411798c6938adc9daaa5'},0,2906b810c7d4411798c6938adc9daaa5,,,9.0,2.0,"['web', 'email', 'mobile']",10.0,7.0,discount,2906b810c7d4411798c6938adc9daaa5,1,1,1,0
26,26,6e014185620b49bd98749f728747572f,offer received,{'offer id': 'f19421c1d4aa40978ebb69ca19b0e20d'},0,f19421c1d4aa40978ebb69ca19b0e20d,,,8.0,5.0,"['web', 'email', 'mobile', 'social']",5.0,5.0,bogo,f19421c1d4aa40978ebb69ca19b0e20d,1,1,1,1
27,27,02c083884c7d45b39cc68e1314fec56c,offer received,{'offer id': 'ae264e3637204a6fb9bb56bc8210ddfd'},0,ae264e3637204a6fb9bb56bc8210ddfd,,,0.0,10.0,"['email', 'mobile', 'social']",10.0,7.0,bogo,ae264e3637204a6fb9bb56bc8210ddfd,0,1,1,1
28,28,c0d210398dee4a0895b24444a5fcd1d2,offer received,{'offer id': '9b98b8c7a33c4b65b9aebfe6a799e6d9'},0,9b98b8c7a33c4b65b9aebfe6a799e6d9,,,3.0,5.0,"['web', 'email', 'mobile']",5.0,7.0,bogo,9b98b8c7a33c4b65b9aebfe6a799e6d9,1,1,1,0
29,29,8be4463721e14d7fa600686bf8c8b2ed,offer received,{'offer id': 'fafdcd668e3743c1bb461111dcafc2a4'},0,fafdcd668e3743c1bb461111dcafc2a4,,,6.0,2.0,"['web', 'email', 'mobile', 'social']",10.0,10.0,discount,fafdcd668e3743c1bb461111dcafc2a4,1,1,1,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
306504,306504,8524d450673b4c24869b6c94380006de,transaction,{'amount': 4.89},714,,4.89,,NaN,NaN,None,NaN,NaN,NaN,NaN,0,0,0,0
306505,306505,b895c57e8cd047a8872ce02aa54759d6,transaction,{'amount': 4.48},714,,4.48,,NaN,NaN,None,NaN,NaN,NaN,NaN,0,0,0,0
306506,306506,b895c57e8cd047a8872ce02aa54759d6,offer completed,{'offer_id': 'fafdcd668e3743c1bb461111dcafc2a4...,714,fafdcd668e3743c1bb461111dcafc2a,,2,NaN,NaN,None,NaN,NaN,NaN,NaN,0,0,0,0
306507,306507,8dda575c2a1d44b9ac8e8b07b93d1f8e,offer viewed,{'offer id': '0b1e1539f2cc45b7b9fa7c272da2e1d7'},714,0b1e1539f2cc45b7b9fa7c272da2e1d7,,,4.0,5.0,"['web', 'email']",20.0,10.0,discount,0b1e1539f2cc45b7b9fa7c272da2e1d7,1,1,0,0
306508,306508,8431c16f8e1d440880db371a68f82dd0,transaction,{'amount': 1.19},714,,1.19,,NaN,NaN,None,NaN,NaN,NaN,NaN,0,0,0,0
306509,306509,8431c16f8e1d440880db371a68f82dd0,offer completed,{'offer_id': 'fafdcd668e3743c1bb461111dcafc2a4...,714,fafdcd668e3743c1bb461111dcafc2a,,2,NaN,NaN,None,NaN,NaN,NaN,NaN,0,0,0,0
306510,306510,ba620885e51c4b0ea64a4f61daad494f,transaction,{'amount': 14.31},714,,14.31,,NaN,NaN,None,NaN,NaN,NaN,NaN,0,0,0,0
306511,306511,a1a8f40407c444cc848468275308958a,transaction,{'amount': 2.37},714,,2.37,,NaN,NaN,None,NaN,NaN,NaN,NaN,0,0,0,0
306512,306512,8d80970192fa496f99d6b45c470a4b60,transaction,{'amount': 6.92},714,,6.92,,NaN,NaN,None,NaN,NaN,NaN,NaN,0,0,0,0
306513,306513,bde275066f3c4fa0bff3093e3b866a2c,transaction,{'amount': 12.73},714,,12.73,,NaN,NaN,None,NaN,NaN,NaN,NaN,0,0,0,0
306514,306514,f1e4fd36e5a0446f83861308bddf6945,transaction,{'amount': 8.2},714,,8.2,,NaN,NaN,None,NaN,NaN,NaN,NaN,0,0,0,0
306515,306515,0b64be3b241c4407a5c9a71781173829,transaction,{'amount': 2.6},714,,2.6,,NaN,NaN,None,NaN,NaN,NaN,NaN,0,0,0,0
306516,306516,86d03d35d7e0434b935e7743e83be3a0,transaction,{'amount': 9.2},714,,9.2,,NaN,NaN,None,NaN,NaN,NaN,NaN,0,0,0,0
306517,306517,3408fd05c781401f8442fb6dbaaea9c7,transaction,{'amount': 11.7},714,,11.7,,NaN,NaN,None,NaN,NaN,NaN,NaN,0,0,0,0
306518,306518,1593d617fac246ef8e50dbb0ffd77f5f,transaction,{'amount': 40.67},714,,40.67,,NaN,NaN,None,NaN,NaN,NaN,NaN,0,0,0,0
306519,306519,f1b31d07b5d84f69a2d5f1d07843989e,transaction,{'amount': 31.13},714,,31.13,,NaN,NaN,None,NaN,NaN,NaN,NaN,0,0,0,0
306520,306520,2ce987015ec0404a97ba333e8e814090,transaction,{'amount': 1.6400000000000001},714,,1.6400000000000001,,NaN,NaN,None,NaN,NaN,NaN,NaN,0,0,0,0
306521,306521,2e33545f0a764d27b2ccff95fc8d72c4,transaction,{'amount': 17.35},714,,17.35,,NaN,NaN,None,NaN,NaN,NaN,NaN,0,0,0,0
306522,306522,d1c4500ace2e45e9a45d3cd2fccac8d8,transaction,{'amount': 4.42},714,,4.42,,NaN,NaN,None,NaN,NaN,NaN,NaN,0,0,0,0
306523,306523,b65affd9e07346a1906364a396950e3d,transaction,{'amount': 18.35},714,,18.35,,NaN,NaN,None,NaN,NaN,NaN,NaN,0,0,0,0
306524,306524,d613ca9c59dd42f497bdbf6178da54a7,transaction,{'amount': 25.14},714,,25.14,,NaN,NaN,None,NaN,NaN,NaN,NaN,0,0,0,0
306525,306525,eec70ab28af74a22a4aeb889c0317944,transaction,{'amount': 43.58},714,,43.58,,NaN,NaN,None,NaN,NaN,NaN,NaN,0,0,0,0
306526,306526,24f56b5e1849462093931b164eb803b5,transaction,{'amount': 22.64},714,,22.64,,NaN,NaN,None,NaN,NaN,NaN,NaN,0,0,0,0
306527,306527,24f56b5e1849462093931b164eb803b5,offer completed,{'offer_id': 'fafdcd668e3743c1bb461111dcafc2a4...,714,fafdcd668e3743c1bb461111dcafc2a,,2,NaN,NaN,None,NaN,NaN,NaN,NaN,0,0,0,0
306528,306528,5ca2620962114246ab218fc648eb3934,transaction,{'amount': 2.2},714,,2.2,,NaN,NaN,None,NaN,NaN,NaN,NaN,0,0,0,0
306529,306529,b3a1272bc9904337b331bf348c3e8c17,transaction,{'amount': 1.5899999999999999},714,,1.5899999999999999,,NaN,NaN,None,NaN,NaN,NaN,NaN,0,0,0,0
306530,306530,68213b08d99a4ae1b0dcb72aebd9aa35,transaction,{'amount': 9.53},714,,9.53,,NaN,NaN,None,NaN,NaN,NaN,NaN,0,0,0,0
306531,306531,a00058cf10334a308c68e7631c529907,transaction,{'amount': 3.61},714,,3.61,,NaN,NaN,None,NaN,NaN,NaN,NaN,0,0,0,0
306532,306532,76ddbd6576844afe811f1a3c0fbb5bec,transaction,{'amount': 3.5300000000000002},714,,3.5300000000000002,,NaN,NaN,None,NaN,NaN,NaN,NaN,0,0,0,0
306533,306533,c02b10e8752c4d8e9b73f918558531f7,transaction,{'amount': 4.05},714,,4.05,,NaN,NaN,None,NaN,NaN,NaN,NaN,0,0,0,0

In [561]:
profile.to_excel('profile_to_Tableau.xlsx')
transcipt.to_excel('transcipt_to_Tableau.xlsx')
portfolio.to_excel('portfolio_to_Tableau.xlsx')

In [562]:
profile.to_excel('profile_to_Tableau.xlsx')

In [563]:
transcipt_profile=transcipt.merge(profile,how='inner',left_on="person",right_on="id")

In [564]:
transcipt_profile.to_excel('transcipt_profile_to_Tableau.xlsx')

In [66]:
portfolio.head(3)
portfolio=portfolio.iloc[:,1:]

In [67]:
portfolio.shape

(10, 6)

In [68]:
portfolio

,reward,channels,difficulty,duration,offer_type,id
0,10,"['email', 'mobile', 'social']",10,7,bogo,ae264e3637204a6fb9bb56bc8210ddfd
1,10,"['web', 'email', 'mobile', 'social']",10,5,bogo,4d5c57ea9a6940dd891ad53e9dbe8da0
2,0,"['web', 'email', 'mobile']",0,4,informational,3f207df678b143eea3cee63160fa8bed
3,5,"['web', 'email', 'mobile']",5,7,bogo,9b98b8c7a33c4b65b9aebfe6a799e6d9
4,5,"['web', 'email']",20,10,discount,0b1e1539f2cc45b7b9fa7c272da2e1d7
5,3,"['web', 'email', 'mobile', 'social']",7,7,discount,2298d6c36e964ae4a3e7e9706d1fb8c2
6,2,"['web', 'email', 'mobile', 'social']",10,10,discount,fafdcd668e3743c1bb461111dcafc2a4
7,0,"['email', 'mobile', 'social']",0,3,informational,5a8bc65990b245e5a138643cd4eb9837
8,5,"['web', 'email', 'mobile', 'social']",5,5,bogo,f19421c1d4aa40978ebb69ca19b0e20d
9,2,"['web', 'email', 'mobile']",10,7,discount,2906b810c7d4411798c6938adc9daaa5

In [9]:
profile.head(3)

,Unnamed: 0,gender,age,id,became_member_on,income
0,0,NaN,118,68be06ca386d4c31939f3a4f0e3dd783,20170212,NaN
1,1,F,55,0610b486422d4921ae7d2bf64640c50b,20170715,112000.0
2,2,NaN,118,38fe809add3b4fcf9315a9694bb96ff5,20180712,NaN

,Unnamed: 0,person,event,value,time
0,0,78afa995795e4d85b5d9ceeca43f5fef,offer received,{'offer id': '9b98b8c7a33c4b65b9aebfe6a799e6d9'},0
1,1,a03223e636434f42ac4c3df47e8bac43,offer received,{'offer id': '0b1e1539f2cc45b7b9fa7c272da2e1d7'},0
2,2,e2127556f4f64592b11af22de27a7932,offer received,{'offer id': '2906b810c7d4411798c6938adc9daaa5'},0